mixin sBlog(data)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			+b.section-title
				h2 Статьи и&nbsp;материалы				
			.row
				mixin blogItem(img, title, date)
					.col-lg-4.col-6
						a.item(href='#')
							+e.img.img-wrap
								img(src=`img/blog-img-${img}.jpg`, laoding="lazy" alt="")
							+e.title!= title
							+e.date!= date
				+blogItem('1','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('2','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('3','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('4','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('5','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('6','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('7','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('8','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
				+blogItem('9','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
			+pugin
			//-  +li(3)
	// end sBlog