.footer {
	padding-top: #{rem(166)};
	margin-top: auto;
	.footer-top {
		font-size: 10px;
	}

	&-top {
		padding-bottom: 25px;
		margin-bottom: 34px;
		border-bottom: 1px solid #D5D5D5;	
	}

	.contr {
		p {
			max-width: 390px;
			margin-bottom: 0;
		}
	}

	.cr {
		text-align: right;
	}

	&-bottom {
		margin-bottom: 47px;
		.row {
			--bs-gutter-y: #{rem(28)};
		}
		
		&__title {
			font-weight: 700;
			line-height: 140%;
		}

		&__addr {
			font-size: 14px;
			line-height: 133%;
			@include media-breakpoint-up(sm) {
				font-size: 16px;				
			}
			p {
				margin-bottom: 0;				
				a {
					color: black;
				}
			}
		}
	}
	&__links {
		ul{

			display: flex;
			flex-wrap: wrap;
			@include media-breakpoint-down(md) {
			@include roww(30px);
			}
			@include media-breakpoint-up(md) {
				display: block;
				text-align: right;
				margin-top: 8px;
			}		
		}
		font-size: 10px;
		
		li {
			list-style-type: none;
			// margin-right: 30px;
			&:not(:last-child) {
				margin-bottom: 14px;
			}
			@include media-breakpoint-up(md) {
				// margin-right: 0;				
			}			
		}

	}

	.sources {
		h2 {
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 25px;	
			font-size: rem(30);
			font-weight: 700;
		}

		button {
			font-weight: 400;
			font-size: 16px;
		}

		ol {
			padding-left: var(--bs-gutter-x,.6rem);
			margin-bottom: 0;
			padding-bottom: 97px;
			font-weight: 400;
			font-size: 10px;
			line-height: 140%;
		}

		&__info {
			p {
				margin-bottom: 0;
				text-transform: uppercase;
				font-size: rem(30);
				line-height: 140%;
				color: rgba($color: black, $alpha: .2);
				@include media-breakpoint-up(lg) {
					font-size: rem(39);
				}
			}
			span {
				display: block;
				text-transform: capitalize;
				font-size: 12px;
				line-height: 1.2;	
				color: black;			
			}
		}
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
