:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(1500);
	// min-height: 100%; 
	padding: 15px;
	@include media-breakpoint-up(sm) {
		padding: 40px;
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.alpha {
		&__name {			
			line-height: 130%;
			font-size: #{rem(20)};
			margin-bottom: 5px;
			@include media-breakpoint-up(sm) {
				font-size: #{rem(32)};
				margin-bottom: 0;
			}
		
			span {
				padding: 2px;			
				color: $white;
				font-size: #{rem(20)};
				&:first-child {
					background-color: $warning;
				}
				&:last-child {
					background-color: #05B42C;
				}
			}		
		}		
		&:first-child {
			span {
				background-color: $warning;
			}
		}
		&:nth-child(2) {
			span {			
				background-color: $blue;	
			}
		}
		&:last-child {
			span {
				background-color: #05B42C;
			}
		}

		.list {
			list-style-type: none;
			color: $secondary;
			li {
				@include media-breakpoint-up(xs) {
					line-height: 18px;
				}
				@include media-breakpoint-up(sm) {
					line-height: 160%;
				}
			}
		}
	}

	.table-wrap {
		overflow-x: auto;
	}

	.table {
		border-color: $blue;
		min-width: 336px;
		tbody {
			border-top: none;
		}
	}

	thead {
		color: $white;
		background-color: $blue;
	}

	.break {		
		word-break: break-all;
	}

	.note {
		color: $secondary;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.max-list {
	padding: 0;
  margin-left: 20px;
	list-style-type: disc;
	li::marker {
		color: $blue;
		background-color: $blue;
	}
}
.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

.enter-modal {
	max-width: 492px;
	h3 {
		color: #292929;
	}
	p {
		color: $secondary;
	}
	.btn-warning {
		text-transform: capitalize;
		border-radius: 10px;
		background-color: #ED6B23;
		&:hover {
			background-color: $warning;
		}
	}
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}


