mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+img('head-bg.jpg','bg').picture-bg
		.container
			+e.inner
				h1 УРОРЕК – оригинальный#[sup 10] альфа-адреноблокатор 
				+img("head-img.png")
				+e.body
					p Силодозин (действующее вещество препарата Урорек) обладает максимальной уроселективностью в&nbsp;своем классе, что обеспечивает его уродинамическую эффективность и&nbsp;высокую безопасность#[sup 4]
				+e.footer
					p
						strong Показания к применению: 
						br
						| Лечение симптомов доброкачественной гиперплазии предстательной железы#[sup 6]

	// end headerBlock