mixin sTreatment(data)
	// start sTreatment
	+b.SECTION.sTreatment.section#sTreatment&attributes(attributes)
		.container
			+b.section-title
				h2 Медикаментозное лечение СНМП/ДГПЖ
			p.sTreatment__descr Антагонисты альфа1-адренорецепторов (альфа-адреноблокаторы) и&nbsp;ингибиторы 5&nbsp;альфа1-редуктазы (ингибиторы 5АР) являются группами лекарственных препаратов, которые в&nbsp;настоящее время утверждены для лечения ДГПЖ. Обе группы препаратов обеспечивают надлежащее ослабление симптомов, но&nbsp;&alpha;&mdash;блокаторы обладают довольно быстрым началом действия, а&nbsp;ингибиторам 5АР требуется несколько месяцев для получения терапевтического эффекта42.
			.row
				.col.col-sm-6
					+b.treatment-item
						+e.title Альфа-адреноблокаторы
						+e.descr представляют собой наиболее эффективный класс лекарственных препаратов, характеризующийся хорошим профилем безопасности и&nbsp;высокой комплаентностью, применяющийся для облегчения СНМП, связанных с&nbsp;ДГПЖ: они снимают спазм гладкой мускулатуры предстательной железы и&nbsp;шейки мочевого пузыря42
				.col.col-sm-6
					+b.treatment-item
						+e.title Ингибиторы 5&nbsp;АР&nbsp;&mdash; 
						+e.descr приводят к&nbsp;редукции железистой ткани и&nbsp;к&nbsp;снижению размера предстательной железы: они блокируют конверсию тестостерона в&nbsp;дигидротестостерон, который стимулирует рост предстательной железы43,44.Назначаются при большом объеме предстательной железы. Для получения значимого клинического эффекта требуется несколько месяцев применения45
			+e.video
				img(src=`img/svg/logo.svg`, loading="lazy" alt="")
			//- <div class="ratio ratio-16x9">
			//- 	<iframe src="#" title="video" allowfullscreen></iframe>
			//- </div>		
	// end sTreatment