// start .sTreatment
.sTreatment {
	--sPT: #{rem(78)};
	--sPB: 0;
	--sTPB: 1.5rem;
	background-color: $light;

	.container {
		position: relative;
	}

	&__descr {
		margin-bottom: 3rem;
	}

	.row {
		--bs-gutter-y: #{rem(30)};	
		margin-bottom: 86px;
	}

	.treatment-item {
		padding: 1rem 2rem 1.5rem 1.5rem;
		height: 100%;
		background: $white;
		&__title {
			font-weight: 700;
		}
	}

	&__video {
		@include block(1920,1080);
		position: relative;
		text-align: center;
		z-index: 2;
			&::after {
				content: '';
				position: absolute;
				top: 44%;
				height: 56%;
				left: -100vw;
				width: 300vw;
				background-color: #004CAC;
				z-index: -1;
			}
		video,
		iframe {
			background-color: #000;
			position: absolute;
			top: 0;			
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
		
		img {			
			width: 226px;
			position: relative;
			top: 70%;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTreatment