mixin sTreatment(data)
	// start sTreatment
	+b.SECTION.sTreatment.section#sTreatment&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sTreatment
				
			.row
	// end sTreatment