// start .sTreatment
.sTreatment {
	--sPT: #{rem(78)};
	--sPB: #{rem(311)};
	--sTPB: 1.5rem;
	background-color: $light;

	.container {
		position: relative;
	}

	&__descr {
		margin-bottom: 3rem;
	}

	.row {
		--bs-gutter-y: #{rem(30)}	
	}

	.treatment-item {
		padding: 1rem 2rem 1.5rem 1.5rem;
		height: 100%;
		background: $white;
		&__title {
			font-weight: 700;
		}
	}

	&__video {
		position: absolute;
		left: var(--bs-gutter-x,.8rem);
		right: var(--bs-gutter-x,.8rem);
		top: 110%;
		height: 512px;
		text-align: center;
		background-color: #293741;
		@include media-breakpoint-up(lg) {
			top: 113%;
		}	
		@include media-breakpoint-up(md) {
			top: 110%;
		}	
		@include media-breakpoint-up(sm) {
			top: 105%;
		}
		img {			
			width: 226px;
			position: relative;
			top: 70%;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTreatment