mixin sAdv(data)
	// start sAdv
	+b.SECTION.sAdv.section#sAdv&attributes(attributes)
		.container
			+b.section-title
				h2 Ключевые преимущества препарата Урорек
			+e.head
				ul 
					li Единственный оригинальный препарат из&nbsp;группы альфа1-адреноблокаторов, не&nbsp;имеющий генериков в&nbsp;РФ<sup>1</sup>

				.row
					mixin item(i,t)
						+e.col.col-md-4 
							+img(`svg/adv-i-${i}.svg`)
							+e.title!= t
					+item(`1`,`Обширная доказательная база собственных пострегистрационных клинических исследований<sup>2</sup>`)
					+item(`2`,`Отсутствие риска замены препарата Урорек в&nbsp;аптеке (единственный препарат с&nbsp;действующим веществом силодозин)<sup>1</sup>`)
					+item(`3`,`Большинство пациентов предпочитают принимать оригинальные препараты<sup>3</sup>`)
				ul
					li Клинические преимущества препарата Урорек (силодозин) определяются максимальной уроселективностью в&nbsp;классе альфа-адреноблокаторов<sup>4</sup>
					li Урорек&nbsp;&mdash; альфа-адреноблокатор последнего поколения, который эффективен в&nbsp;отношении всех СНМП (накопления, опорожнения, постмиктурических).<sup>12,13</sup> При этом Урорек обладает минимальным риском развития нежелательных явлений со&nbsp;стороны сердечно-сосудистой системы, в&nbsp;том числе&nbsp;у&nbsp;пациентов, принимающих антигипертензивные препараты<sup>46,8</sup> 
						small  
							span СНМП 
							| симптомы нижних мочевыводящих путей

			+e.body
				h2 Максимальная уроселективность силодозина в&nbsp;классе альфа-адреноблокаторов обуславливает его уродинамическую эффективность и&nbsp;высокий профиль безопасности<sup>4</sup>
				+e.block
					+e.block-inner
						ul 
							li Урорек значительно улучшает клинические проявления и&nbsp;качество жизни у&nbsp;всех пациентов с&nbsp;СНМП/ДГПЖ, в&nbsp;том числе с&nbsp;тяжелым течением#[sup 11]
								a(href="#") Узнать больше...
							li Урорек является препаратом выбора для пациентов с&nbsp;СНМП/ДГПЖ и&nbsp;сопутствующими сердечно-сосудистыми заболеваниями#[sup 3] 
								a(href="#") Узнать больше...
						small  
							span ДГПЖ 
							| доброкачественная гиперплазия предстательной железы
						+img("dad.png")
					
			+e.footer
				h2  Максимальная уроселективность в&nbsp;классе  альфа-адреноблокаторов<sup>4</sup>
				.h3  Почему это важно? 
					a(href="#") Подробнее

	// end sAdv