// start .sAdv
.sAdv {
	// --sPT: ;
	--sPB:#{rem(70)};
	--sTPB: #{rem(34px)};
	.section-title{
		h2{
			margin-bottom: 1rem;
		}

	}
	
	h2{
			@include media-breakpoint-up(xl) {
			font-size: rem(45);
		}
			margin-bottom: rem(40);
	}
	&__head{ 
		// margin-bottom: rem(60);
		ul{
			@include rfs(32px);
			color: #7D7D7D;
			line-height: 130%;
			max-width: rem(1080);
			small{
				display: block;
				margin-top: rem(25);
			}
		}
		.row{
			// margin-top: 0;
			padding-top: rem(10);
			--bs-gutter-x:  20px;
			--bs-gutter-y:  30px;
			margin-bottom: rem(65);
		}
	}
	&__col{
		@include media-breakpoint-down(md) {
			display: flex;
			align-items: center;
			img{
				flex: 0 0 auto;
				margin-right: 20px;
				margin-bottom: 0;
				max-width: 16%;
			}
		}
	}
	&__body{
		h2{
			margin-bottom: 75px;
		}
		// margin-top: rem(60);
	}
	small{
		font-size: $small;
		span{
			// display: inline-block;
			background-color: $warning;
			padding: rem(2) rem(4);
			color: #fff;
			margin-right: rem(10);
		}
	}
	li{
		padding-left: em(20);
		margin-bottom: 1.7em;
		&::marker{
			content: var(--arrow-right);
		}
	}
	ul{
		
		padding-left: rem(20);
	}
		&__col{
			color: #7D7D7D;
			line-height: 160%;
			img{
				margin-bottom: rem(28);
			}
		}

		&__block{
			background: #EFEFEF;
			@include media-breakpoint-down(sm){
				margin-left: -.8rem;
				margin-right: -.8rem;
			}
			@include media-breakpoint-up(md) {

				--x: 60px;
			}
			--x: 20px;
			margin-bottom: rem(76);
			li{
				padding-left: rem(30);
				a{
					display: block;
					@extend .btn, .btn-outline-primary;
					width: 154px;
					font-size: rem(16);
					padding-left: rem(10);
					padding-right: rem(10);
					margin-top: rem(28);
				}
			}
			&-inner{
				padding: 65px var(--x);
				max-width: calc(rem(582)  + var(--x));
				@include media-breakpoint-down(md) {
					padding-bottom: 0;
				}
				position: relative;
				img{
					@include media-breakpoint-down(md) {
						margin-left: calc(-1 * var(--x));
						max-width: 130%;
						height: auto;
						margin-top: 1rem;
					}
					@include media-breakpoint-up(md) {
						position: absolute;
						left: calc(100% - var(--x) - 10px);
						bottom: 0;

					}
				}
			}
			small{
				display: block;
				margin-top: rem(70);
			}
		}
		&__footer{
			h2{
				max-width: rem(1000);
			}
		}
		.h3,
		h3{
			color: #7D7D7D;
			a{
				@extend .btn, .btn-outline-primary;
				margin-left: rem(19);
				padding-left: rem(26);
				padding-right: rem(26);
				@include media-breakpoint-down(sm) {
					display: block;
					max-width: 160px;
					margin-left: 0;
					margin-top: 1rem;
				}
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdv