mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h2 О проблеме
			p.sAbout__descr Доброкачественная гиперплазия предстательной железы (ДГПЖ), или как ее&nbsp;еще называют, аденома простаты, как правило, возникает у&nbsp;мужчин старше 50&nbsp;лет и&nbsp;характеризуется наличием симптомов нижних мочевыводящих путей (СНМП), увеличением предстательной железы или ее&nbsp;части, и&nbsp;нарушением оттока мочи из&nbsp;мочевого пузыря вследствие инфравезикальной обструкции.38
			p.sAbout__descr Распространенность ДГПЖ увеличивается с&nbsp;возрастом. Так, клинически значимая ДГПЖ проявляется у&nbsp;13% мужчин в&nbsp;возрасте старше 50&nbsp;лет, у&nbsp;34% мужчин в&nbsp;возрасте 60&nbsp;лет и&nbsp;у&nbsp;43% в&nbsp;возрасте 70&nbsp;лет.39
			p.sAbout__warning Наличие СНМП может быть ассоциировано с&nbsp;тяжелыми хроническими заболеваниями, такими как заболевания сердца, сахарный диабет, артериальная гипертензия и&nbsp;депрессия40
			+b.symptoms
				h3.symptoms__title Симптомы доброкачественной гиперплазии предстательной железы
				p.symptoms__descr Симптомы нарушенного мочеиспускания являются частой жалобой у&nbsp;взрослых мужчин. Они оказывают серьезное негативное влияние на&nbsp;качество жизни. При ДГПЖ предстательная железа увеличивается в&nbsp;размерах, оказывая давление на&nbsp;нижние мочевые пути. В&nbsp;результате развиваются следующие симптомы:41				
				+b.symptoms-list.row
					mixin symptomsItem(i, descr)
						+e.item.col.col-md-2
							+img(`symptoms-i-${i}.png`)
							+e.title!= descr
					+symptomsItem('1','Учащенное мочеиспускание')
					+symptomsItem('2','Ослабление струи мочи')
					+symptomsItem('3','Недержаниемочи')
					+symptomsItem('4','Неотложные позывы к&nbsp;мочеиспусканию')
					+symptomsItem('5','Ноктурия (ночное мочеиспускание)')
					+symptomsItem('6','Ощущение неполного опорожнения мочевого пузыря')
				//- +img("about-img.png")
	// end sAbout