mixin sRecomendation(data)
	// start sRecomendation
	+b.SECTION.sRecomendation.section#sRecomendation&attributes(attributes)
		.container
			+b.section-title
				h2 Препарат Урорек (силодозин) включен в&nbsp;российские и&nbsp;международные клинические рекомендации и&nbsp;стандарты для лечения ряда урологических заболеваний:
			mixin ref-item(link,descr)
					+b.ref-item
						a.ref-item__link(href="#")!= link 
						+e.descr!= descr
			+ref-item(`Российские клинические рекомендации`,`&laquo;Доброкачественная гиперплазия предстательной железы&raquo;, 202028`)
			+ref-item(`Европейские клинические рекомендации`,`глава &laquo;Консервативное лечение ненейрогенных симптомов нарушенного мочеиспускания у&nbsp;мужчин, включая доброкачественную простатическую обструкцию&raquo;, 202129`)
			+ref-item(`Стандарт первичной медико-санитарной помощи при гиперплазии предстательной железы`,`09.11.201230&nbsp;/ Обновлён&nbsp;13.04.2015`)
			+ref-item(`Стандарт специализированной медицинской помощи при задержке мочи`,`29.01.201331&nbsp;/ Обновлён&nbsp;06.05.2015`)
			+ref-item(`Стандарт первичной медико-санитарной помощи при хроническом простатите`,`09.11.201232&nbsp;/ Обновлён&nbsp;13.04.2015`)
			+ref-item(`Стандарт специализированной медицинской помощи при остром простатите, орхите, эпидидимите`,`09.11.201233&nbsp;/ Обновлён&nbsp;27.05.2015`)
			


			
	// end sRecomendation