// start .sRecomendation
.sRecomendation {
	--sPT: #{rem(27)};
	--sPB: 0;
	--sTPB: #{rem(27)};
	
	.ref-item {

		&__link {
			// padding-bottom: 2px;
			line-height: 130%;
			border-bottom: 1px solid $blue;
		}

		&__descr {
			font-size: rem(16);
			color: #292929;
		}

		&:not(:last-child) {
			margin-bottom: 23px;
		}
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRecomendation