// start .sRecomendation
.sRecomendation {
	--sPT: 0;
	--sPB: 0;
		// --sTPB: ;
	.section-title{
		margin-bottom: 1.5rem;
	}

	.ref-item {

		&__link {
			line-height: 130%;			
			text-transform: uppercase;
			border-bottom: 1px solid $blue;
		}

		&__descr {
			font-size: rem(16);
			color: #292929;
		}

		&:not(:last-child) {
			margin-bottom: 23px;
		}
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRecomendation