// start .sCatalog
.sCatalog {
		--sPT: #{rem(78)};
		--sPB: #{rem(36)};
		--sTPB: 0.5rem;
		background: $light;

		.section-title{
			h2{				
				margin-bottom: 0;
				letter-spacing: -1px;
			}
		}

		.row {
			--bs-gutter-y: var(--bs-gutter-x);
		}

		.section-descr {
			margin-bottom: 0.7rem;
			@include rfs(24px);

			span {
				font-weight: bold;
			}
		}

		.section-note {
			margin-bottom: 1.3rem;
			font-size: 12px;
		}

	&__item {	
		position: relative;
		padding: rem(33) rem(24);
		min-height: 100%;
		background: $white;
		border-radius: 8px;
	}	

	&__title {
		font-weight: bold;
		margin-bottom: 1.3rem;
		@include rfs(24px);
	}

	&__img {
		margin-bottom: var(--sTPB);
	}

	
	&__license {
		@include media-breakpoint-up(xl) {
			right:0;
		}
		// @include media-breakpoint-up(md) {
		// 	right:rem(-22);
		// }
		// @include media-breakpoint-up(sm) {
		// 	right: rem(22);
		// }
		position: absolute;
		max-width: 112px;
		right:rem(-22);
		top: 39%;
		font-size: 12px;
		line-height: 140%;
		color: rgba($color: #000000, $alpha: .5);
		transform: rotate(-90deg);
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog