mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title
				h2 Форма выпуска препарата Урорек
			p.section-descr <span>8мг </span>- рекомендуемая доза для лечения симптомов ДГПЖ6*
			p.section-note.col-10 *Более подробные сведения о&nbsp;препарате, особенностях применения, побочных действиях и&nbsp;др. &mdash;&nbsp;смотрите инструкцию по&nbsp;медицинскому применению лекарственного препарата Урорек, РУ&nbsp;ЛСР-005971/10 от&nbsp;25.06.2010 
			.row
				mixin item(t,i,d,l)
						+e.col.col-md-4 
							+e.item.d-flex.flex-column.align-items-center
								+e.title!= t
								+img(`catalog-img-${i}.png`).sCatalog__img
								//- +e.img-wrap.text-center
								//- 	img(src=`img/catalog-img-${i}.png`, laoding="lazy" alt="")							
								+e.descr.text-center!= d
								+e.license!= l
				+item(`Урорек 8мг №30`,`1`, `Упаковка, рассчитанная на&nbsp;1&nbsp;месяц лечения&nbsp;/ для старта терапии`,`РУ: ЛСР-005971/10 от 25.06.2010`)
				+item(`Урорек 8мг №90`,`2`, `Выгодная упаковка, рассчитанная на&nbsp;3&nbsp;месяца лечения. Самая доступная стоимость 1&nbsp;дня терапии препаратом Урорек&nbsp;27`,`РУ: ЛСР-005971/10 от&nbsp;25.06.2010`)
				+item(`Урорек 4мг №30`,`3`, `4&nbsp;мг&nbsp;&mdash; стартовая упаковка для лечения симптомов ДГПЖ у&nbsp;пациентов с&nbsp;почечной недостаточностью средней степени тяжести6`,`РУ: ЛСР-005971/10 от&nbsp;25.06.2010`)
	// end sCatalog