// start .sComplications
.sComplications {
	--sPT: #{rem(99)};
	--sPB: #{rem(63)};
		// --sTPB: ;
	.section-title{
		margin-bottom: 5rem;
	}
	&__item {
		margin-bottom: 58px;
	}
	
	&__img-wrap {
		min-height: 189px;
		margin-bottom: 2rem;		
	}

	.comitem-title {
		max-width: 328px;
		margin-right: 0!important;

		span {
			display: block;
			font-size: rem(16);
			color: #292929;
		}
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sComplications