// start .sComplications
.sComplications {
	--sPT: #{rem(99)};
	--sPB: #{rem(138)};
	--sTPB: 5rem;
	
	&__row {
		--bs-gutter-y: #{rem(58)};
	}

	&__col {
		text-align: center;
	}

	&__title {
		max-width: 328px;
		margin-right: auto;
		margin-left: auto;

		span {
			display: block;
			font-size: rem(16);
			color: #292929;
		}
	}
	
	&__img-wrap {
		height: 189px;
		line-height: 189px;
		vertical-align: middle;
		margin-bottom: 2rem;		
	}

	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sComplications