mixin compitem(i, t)
	+e.col.col-lg-4.col-sm-6
		+e.img-wrap
			img(src=`img/complex-img-${i}.png`, loading="lazy" alt="")
		+e.title!= t
		block
mixin sComplications(data)
	// start sComplications
	+b.SECTION.sComplications.section#sComplications&attributes(attributes)
		.container
			+b.section-title
				h2 Осложнения ДГПЖ<sup>38</sup>
				
			+e.row.row
				+compitem("1",`Острая задержка мочеиспускания`)
				+compitem("2",`Рецидивирующая инфекция мочевыводящих путей`)
				+compitem("3",`Камни мочевого пузыря`)
				+compitem("4",`Гематурия <span>(обычно из&nbsp;варикозно расширенных вен шейки мочевого пузыря)</span>`)
				+compitem("5",`Двусторонний уретерогидронефроз и&nbsp;почечная недостаточность (нефропатия)`)
				+compitem("6",`Дивертикулы мочевого пузыря`)

	// end sComplications