// start .sComplications
.sComplications {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	&__item {
		margin-bottom: 64px;
	}
	
	&__img-wrap {
		min-height: 189px;
	}

	.comitem-title {
		max-width: 328px;
		margin-right: 0!important;

		span {
			display: block;
		}
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sComplications