
.main-page .top-nav{
	background: rgba(#004CAC, .5);

}
.top-nav {
	background: #0A2B5E;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: var(--y-top);
	padding-bottom: var(--y-top);
	@include mt;
	&.fixed{
		background: rgba(#004CAC, .8);
		padding-top: calc(var(--y-top) / 3);
		padding-bottom: calc(var(--y-top) / 3);

	}
	z-index: 1000;
	.row{
		align-items: center;
	}
	&__logo{
		@include media-breakpoint-up(xl) {

			margin-right: rem(34);
		}
	}

	&__btn{
		@extend .btn, .btn-sm,  .btn-warning;
	}
	
	// opacity: 0.5;
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


