// start .sFAQ
.sFAQ {
		--sPT: #{rem(133)};
		--sPB: #{rem(23)};
		--sTPB: #{rem(45)};
	background-color: #004CAC;
	color: $white;

	.dd-group {
		&__item {
			padding-bottom: rem(29);
		}

		&__head {
			padding: rem(29) rem(15) rem(29) rem(27);
			font-size: #{rem(32)};
			line-height: 130%;
			cursor: pointer;			
		}

		&__content {
			&:not(.active) {
				display: none;
			}
			p {
				margin-bottom: rem(32);
			}
			
		}
		
		&__item {
			border-top:1px solid rgba($color: $white, $alpha: 0.5);
			.dd-group__head {
				position: relative;
				&::before {
					position: absolute;
					// top: calc(rem(29) + 16px);
					margin-top: em(6);
					left: 0;
					content: '';
					display: inline-block;
					@include triangle(16px 12px, $warning, right);
					@include mt;
				}
			}			
			&.active {
				.dd-group__head {
					&::before {
						// @include triangle(16px 12px, $warning, down);
						transform: rotateX(360deg) rotate(90deg);
					}
				}				
			}			
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFAQ