mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые вопросы
			+ddGroup
				+ddGroupItem('Почему при приеме препарата Урорек у некоторых пациентов развивается нарушение эякуляции?', activeClasses='')
					p Урорек&nbsp;&mdash; высокоселективный препарат, то&nbsp;есть преимущественно действует на&nbsp;альфа1А-адренорецепторы, которые находятся в&nbsp;нижних мочевых путях, предстательной железе и&nbsp;семенных пузырьках. Поэтому эффект развивается уже через 2&ndash;6 часов после приёма первой дозы препарата Урорек14 при минимальным количестве нежелательных явлений.5
					p Наиболее частый побочный эффект при приеме препарата Урорек&nbsp;&mdash; нарушение эякуляции46. Это может быть связано как с&nbsp;забросом эякулята при семяизвержении вместо уретры в&nbsp;мочевой пузырь, так и&nbsp;со&nbsp;снижением или отсутствием семенной жидкости во&nbsp;время эякуляции29. Силодозин снижает тонус гладкомышечных клеток семенных пузырьков, простаты и&nbsp;шейки мочевого пузыря, поэтому не&nbsp;происходит выброс семени. Этот эффект свойственен всем уроселективным альфа-адреноблокаторам53 и&nbsp;самостоятельно исчезает после прекращения приема препарата.6
					p Частота эякуляторной дисфункции прямо пропорционально связана с&nbsp;улучшением СНМ и&nbsp;скорости мочеиспускания и&nbsp;подтверждает эффективность альфа-адреноблокатора: чем выше эффективность, тем выше частота встречаемости эякуляторной дисфункции.29	
					p Нарушение эякуляции не&nbsp;влияет на&nbsp;сексуальную функцию52, не&nbsp;воспринимается как беспокоящий симптом подавляющим большинством пациентов и&nbsp;не&nbsp;требует отмены терапии.46
				+ddGroupItem('Можно ли принимать Урорек при артериальной гипертензии и ишемический болезни сердца (ИБС)?', activeClasses='')
					p Согласно инструкции по&nbsp;медицинскому применению, противопоказаний для применения лекарственного препарата Урорек у&nbsp;пациентов с&nbsp;СНМП/ДГПЖ и&nbsp;сопутствующими сердечно-сосудистыми заболеваниями нет.3 Урорек не&nbsp;оказывает влияния на&nbsp;частоту сердечных сокращений (ЧСС), систолическое артериальное давление (САД) и&nbsp;диастолическое артериальное давление (ДАД).9 Силодозин&nbsp;&mdash; не&nbsp;вызывает клинически значимого снижения артериального давления (АД)46, не&nbsp;усиливает действие антигипертензивных препаратов и&nbsp;не&nbsp;требует снижения дозы при одновременном приеме.7&nbsp;В соответствии с&nbsp;дизайном клинического исследования многие пациенты получали сопутствующую терапию антигипертензивными препаратами (в&nbsp;основном, средствами, воздействующими на&nbsp;ренин-ангиотензиновую систему, бета-блокаторами, антагонистами кальция и&nbsp;диуретиками) без повышения частоты ортостатической гипотензии.6
					p При приеме препарата Урорек наиболее низкий риск развития сердечно-сосудистых осложнений.5
				+ddGroupItem('Можно ли принимать Урорек пациенту с ортостатической гипотензией в анамнезе?', activeClasses='')
					p Повышенная селективность силодозина к&nbsp;альфа1A-адренорецепторам по&nbsp;сравнению с&nbsp;альфа1B-адренорецепторами выражается в&nbsp;пониженном риске развития сердечно-сосудистых осложнений.4 Благодаря этому частота ортостатической гипотензии на&nbsp;фоне его приема сравнима с&nbsp;таковой при приеме плацебо.6,9
					p В&nbsp;отличие от&nbsp;других альфа-адреноблокаторов (например, все формы тамсулозина47,48), Урорек не&nbsp;противопоказан к&nbsp;приему у&nbsp;пациентов с&nbsp;ортостатической гипотензией в&nbsp;анамнезе. Тем не&nbsp;менее, пациентам с&nbsp;ортостатической гипотензией в&nbsp;анамнезе не&nbsp;рекомендуется принимать любые альфа-адреноблокаторы, в&nbsp;т.ч. Урорек.6
				+ddGroupItem('Как долго можно принимать Урорек?', activeClasses='')
					p Учитывая прогрессирующий характер течения доброкачественной гиперплазии предстательной железы, медикаментозную терапию следует проводить длительно (иногда в&nbsp;течение всей жизни пациента).49
				+ddGroupItem('Пациенты жалуются на заложенность носа при лечении альфа-адреноблокаторами. Есть ли у препарата Урорек такое побочное действие?', activeClasses='')
					p Заложенность носа&nbsp;&mdash; это возможный побочный эффект для всех альфа-адреноблокаторов. При приеме препарата Урорек он&nbsp;может возникать примерно в&nbsp;1% случаев.46
				+ddGroupItem('Можно ли начинать лечение препаратом Урорек с дозы 4 мг в сутки?', activeClasses='')
					p Согласно инструкции по&nbsp;медицинскому применению лекарственного препарата Урорек, доза 8&nbsp;мг в&nbsp;сутки рекомендована для лечения пациентов с&nbsp;СНМП/ДГПЖ. Титрование дозы при применении силодозина не&nbsp;требуется.
					| Урорек 4&nbsp;мг&nbsp;&mdash; это специальная доза для лечения пациентов с&nbsp;почечной недостаточностью средней степени тяжести (клиренс креатинина &ge; 30&nbsp;до &lt; 50&nbsp;мл/мин). Рекомендуется в&nbsp;течение первой недели принимать начальную дозу по&nbsp;4&nbsp;мг в&nbsp;сутки, далее при хорошей переносимости доза может быть увеличена до&nbsp;8&nbsp;мг в&nbsp;сутки.6*
					<span>*Более подробные сведения о&nbsp;препарате, особенностях применения, побочных действиях и&nbsp;др. &mdash;&nbsp;см. инструкцию по&nbsp;медицинскому применению лекарственного препарата Урорек, РУ&nbsp;ЛСР-005971/10 от&nbsp;25.06.2010</span>
				+ddGroupItem('Влияет ли Урорек на течение ДГПЖ или только снимает симптомы нижних мочевыводящих путей?', activeClasses='')
					p Помимо субъективных симптомов, ДГПЖ вызывает прогрессирующее морфологическое ремоделирование мочевого пузыря с&nbsp;риском развития серьезных функциональных нарушений. Лечение должно не&nbsp;только купировать субъективные симптомы, но&nbsp;и&nbsp;включать профилактику патологического ремоделирования мочевого пузыря.16
					| Силодозин, действующее вещество препарата Урорек, в&nbsp;сравнении с&nbsp;другими альфа-адреноблокаторами более эффективно влияет на&nbsp;инфравезикальную обструкцию (ИВО), что оказывает влияние на&nbsp;предотвращение патологического прогрессирования ремоделирования мочевого пузыря и&nbsp;риск развития серьезных функциональных нарушений.50,51
				+ddGroupItem('Доступен ли Урорек по льготному отпуску?', activeClasses='')
					p Урорек (силодозин) не&nbsp;включен в&nbsp;список жизненно важных лекарственных препаратов (ЖНВЛП)1 и&nbsp;не&nbsp;входит в&nbsp;перечень препаратов для льготного обеспечения граждан по&nbsp;федеральному льготному списку
			
	// end sFAQ