// start .sMethod
.sMethod {
		--sPT: #{rem(194)};
		--sPB: #{rem(70)};
		// --sTPB: ;
		.section-title{
			h2{
				margin-bottom: 3.2rem;
			}
	
		}
	.row:not(:last-child) {
		margin-bottom: rem(50);

		.col {
			@include media-breakpoint-up(lg) {
				width: calc(100% / 5);
			}
		
		}
	}

	

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(45) rem(18) rem(25);
		min-height: 100%;
		border: 1px solid rgba(0, 113, 186, 0.2); 
		 img {
			 width: 40px;
			 height: 40px;
			 margin-bottom: 25px;
		 }
	}

	&__title {
		text-align: center;
		font-weight: bold;
		font-size: rem(16);
		line-height: 160%;;
	}

	&__descr {
		max-width: 572px;
		font-size: rem(16);
		line-height: 160%;
	}

	&__download {
		display: flex;
		flex-direction: column;
	}

	&__btn {		
		@extend .btn, .btn-outline-primary;
		margin-bottom: rem(27);	
		font-size: rem(18);	
		align-self: flex-start;
		@include media-breakpoint-up(lg) {
			font-size: rem(24);	
		}
		@include media-breakpoint-up(md) {
			align-self: stretch;
		}
	}

	&__more {
		font-size: 12px;
		color: rgba(41, 41, 41, .5);
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sMethod