// start .sWhereBuy
.sWhereBuy {
	background: $light;
		--sPT: 0;
		--sPB: #{rem(104)};
		
		.section-title{
			margin-bottom: 36px;
			h2{				
				margin-bottom: 0;
				letter-spacing: -1px;
			}
		}

		&__row {
			--bs-gutter-x:  #{rem(53)};
			--bs-gutter-y:  #{rem(48)};
		}

		
		&__item {	
			display: flex;
			height: 120px;
			justify-content: center;
			align-items: center;		
			padding: 25px 30px;
			width: 100%;
			background: $white;
			border-radius: 4px;	
			img {
				flex-shrink: 0;
			}
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWhereBuy