mixin sOtherCountries(data)
	// start sOtherCountries
	+b.SECTION.sOtherCountries.section#sOtherCountries&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sOtherCountries
				
			.row
	// end sOtherCountries