mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			a(href='blog.html')
				+icon('back-arrow')
			+b.section-title
				h2 Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности	
			small 17.08.2022			
			.row.justify-content-between
				.col-7
					+img('blog-img-1.jpg')
					p Клинические преимущества препарата Урорек (силодозин) определяются максимальной уроселективностью в&nbsp;классе альфа-адреноблокаторов4 Урорек&nbsp;&mdash; альфа-адреноблокатор последнего поколения, который эффективен в&nbsp;отношении всех СНМП (накопления, опорожнения, постмиктурических).12,13 При этом Урорек обладает минимальным риском развития нежелательных явлений со&nbsp;стороны сердечно-сосудистой системы, в&nbsp;т.ч.&nbsp;у&nbsp;пациентов, принимающих антигипертензивные препараты46,8
					p Клинические преимущества препарата Урорек (силодозин) определяются максимальной уроселективностью в&nbsp;классе альфа-адреноблокаторов4 Урорек&nbsp;&mdash; альфа-адреноблокатор последнего поколения, который эффективен в&nbsp;отношении всех
				.col-4
					h3 Читайте так&nbsp;же
					//- +blogItem('1','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
					//- +blogItem('2','Заголовок для статьи или материала в&nbsp;одну или несколько строк для наглядности', '17.08.2022')
	// end sArticle